@import '../../assets/styles/globalVariables.scss';
@import '../../assets/styles/globalMixins.scss';

.container { 
    background-color: $bg-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 50px;

    @include responsive($med) { 
      display: flex;
      flex-direction: row;
      padding-top: 0px;
    }
  }

.login-form {
  @include responsive($med) { 
    width: 60%;
  }
 
  .login-text {   
      color: $text-orange;
      text-align: center;
      font-size: 17px;

      @include responsive($med) { 
        font-size: 20px; 
      }
     
      h1 {
        margin-bottom: 25px;
      }
  }
}

.car-wrapper {
  @include responsive($med) { 
    width: 40%;
  }
}

.car-img {
  width: 100%;
}
