@import '../../assets/styles/globalVariables.scss';
@import '../../assets/styles/globalMixins.scss';

.input-item {
  width: 70%;
  margin: auto;

  label {
    color: blue;
    font-size: 15px;
    font-weight: 600;
  }
}

.error {
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: red;
}
    




/*
.container{
    width: 100%;
    padding: 4px 30px;
  
    label{
      display: block;
      margin-bottom: 7px;
      font-family: "Gilroy-Regular", sans-serif;
      font-size: 14px;
      color: var(--text-color);
    }
  
    input{
        font-size: 1.5rem;
        color: #ababab;
        //font-family: $text-font;
        border: 1px solid #ccd7e6;
        border-radius: 3px;
        font-weight: 400;
        padding: 1.2rem 1.3rem;
        outline: none;
  
      &::-webkit-input-placeholder
        color: var(--nav-item-color);
        font-family: "Gilroy-Regular", sans-serif;
      }
  
      &:-ms-input-placeholder
        color: var(--nav-item-color);
        font-family: "Gilroy-Regular", sans-serif;
      }
  
      &::placeholder {
        color: var(--nav-item-color);
        font-family: "Gilroy-Regular", sans-serif;
      }
    }
  }
  */