@import '../../../assets/styles/globalMixins';
@import '../../../assets/styles/globalVariables';

.button{
    border-radius: 6px;
    border: 1px solid $text-black;
    background-color: white;
    color: $text-black;
    font-size: 13px;
    padding: 4px 8px;
    cursor: pointer;
    margin-right: 8px;

    &:hover{
      background-color: $text-orange;
      color: white;
    }
  }