@import '../../assets/styles/globalVariables.scss';
@import '../../assets/styles/globalMixins';

.page-content-wrapper {
   h1 {
      font-size: 40px;
      color: $text-orange;
   }
}

.search {
  text-align: right;
  margin: 10px;
}

.add-btn {
   @include responsive($med) {
      margin-bottom: 15px;
      margin-top: -25px;
   }
}

.table {
   overflow-x: auto;
   max-width: 400px;

   @include responsive($med) {
      max-width: 600px;
   }

   @include responsive($lg) {
      max-width: 800px;
   }

   @include responsive($xl) {
      max-width: 100%;
   }
}

