.__modal-container{
  padding-bottom: 0;
  margin-top: -70px;

  .ant-modal-content{
    padding: 0;
  }

  .ant-modal-close{
    top: 30px;
    right: 30px;
  }

  
  .ant-modal-body{
    min-height: 40vh;
    padding: 16px 0;
  }

  .ant-modal-header{
    padding: 20px 30px 16px;
    margin-bottom: 0;
    background-color: #ff4d30;
  }

  .ant-modal-title {
    font-size: 30px;
    color: white;
  }

  .ant-modal-footer{
    margin-top: 0;
    border-top: 0.5px solid;
    padding: 16px 30px 30px;
    text-align: center;
  }
}