@import '../../assets/styles/globalVariables';

.__modal-container{
  padding-bottom: 0;
  margin-top: -80px;

  .ant-modal-header{
    padding: 10px 30px 10px;
    margin-bottom: 0;
    background-color: $bg-orange;
  }

  .ant-modal-title {
    font-size: 25px;
    color: white;
  }

  .ant-modal-content{
    padding: 0;
  
    .card-wrapper {
      width: 80%;
      margin: auto;
    }
  }

  .ant-modal-close{
    top: 15px;
    right: 20px;
    color: black;

    &:hover {
      background-color: white;
    }
  }
  
  .ant-modal-body{
    min-height: 10vh;
    padding: 16px 0;
  }
}