@import '../../assets/styles/globalVariables.scss';
@import '../../assets/styles/globalMixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  .title {
    margin-left: 30px;
    color: #ff4d30;
  }
}
