@import '../../assets/styles/globalVariables.scss';
@import '../../assets/styles/globalMixins.scss';

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $bg-gray;
  padding: 10px 15px;
  text-align: center;
  justify-content: space-around;
  background-color: $text-gray;
   
  @include responsive($med) { 
    display: flex;
    padding: 5px 30px;
    justify-content: space-between;
  }

  .header-name {
    color: $text-orange;
    font-size: 22px;
    font-weight: 700;

    @include responsive($med) { 
      font-size: 40px;
    }
  }
}
