@import '../../assets/styles/globalVariables.scss';
@import '../../assets/styles/globalMixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  border-bottom: 1px solid $bg-gray;
  text-align: center;
  background-color: $text-gray;
   
  @include responsive($med) { 
    display: flex;
    
    padding: 5px 30px;
  }

  .header-name {
    color: $text-orange;

    @include responsive($med) {
      font-weight: 800;
    }
  }
}
