@import '../../assets/styles/globalVariables';

.__search-field{
    border-radius: 6px;
    width: 400px;
    
    ::placeholder{
      font-size: 18px !important;
    }

   .ant-btn {
    height: 39px !important;
   }
}