@import '../../../assets/styles/globalMixins';
@import '../../../assets/styles/globalVariables';

.button{
  border-radius: 4px;
  border: none;
  outline: none;
  width: 50%;
  padding: 0 15px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
  margin: 25px 0 10px;
  color: #fff !important;
  background: $bg-orange;
  opacity: 0.9;
 
  &:hover {
    opacity: 1.2;
    box-shadow: 0 2px 2px -3px $bg-gray;
    scale: 1.1;
    background-color: green;
    cursor: pointer;
  }   
}

.logging {
  background: green;
}

