@import '../../assets/styles/globalVariables';

.ant-table-thead {
        .ant-table-cell {  
            font-size: 15px; 
        }
}

.ant-table-row  {
    :hover {
       scale: 1.1 !important;
       cursor: pointer;
    }
   
}

