@import '../../assets/styles/globalVariables';

.ant-table-thead {
        .ant-table-cell {  
            font-size: 15px; 
        }
}

.ant-table-row  {
    :hover {
       font-weight: 800;
       cursor: pointer;
    }
}

