.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .sideMenu-PageContent-Wrapper {
      display: flex;
      flex: 1;
      background-color: rgba(0, 0, 0, 0.05);
    }

    .main-content {
      margin: 30px auto;
    }
  }

  
  